[submodule "Baixades/FuncionsMatematiques-main/lib/FuncionsMatematiques"]
	path = Baixades/FuncionsMatematiques-main/lib/FuncionsMatematiques
	url = https://github.com/lace8guti/FuncionsMatematiques.git
